    <!-- Menu Logo created for future styling -->
    
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark" >
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
            <img src="/images/bdpalogo26.png" alt="BDPA logo" height="50" width="50" class="menulogo" >
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
               <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/"> Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="hsccref"> HSCC Reference</a>
                    </li>
                    <!-- Conditional on whether user is logged on or not -->
                    <!-- If user is not in, we should include registration and login -->
                    <!-- typeof name === undefined is true if name doesn't exist at all  -->
                    <!-- || is an OR operation.  OR is true if at least one of the conditions is true -->
                    <!-- !name is true if name is blank -->
                    <% if ((typeof name === 'undefined') || (!name)) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="register"> Registration Form </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login"> Login </a>
                    </li>
                    <% } %>
                    <!-- If user is in, set up logout and dashboard -->
                    <% if ((typeof name !== 'undefined') && (name)) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="logout"> Logout </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="dashboard"> Hello, <%= name %> </a>
                    </li>
                    <% } %>

                </ul>
            </div>
            
        </div>
    </nav>