<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/x-icon" href="/images/bdpaicon.ico">
  </head>
  <body>
    <!-- Menu Logo created for future styling -->
    <a href="/">
    <img src="/images/bdpalogo26.png" alt="BDPA logo" height="50" width="50" class="menulogo">
    </a>
    
    
  </body>
</html>