<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/x-icon" href="/images/bdpaicon.ico">
  </head>
  <body>
    <!-- Menu Logo created for future styling -->
    <a href="/">
    <img src="/images/bdpalogo26.png" alt="BDPA logo" height="50" width="50" class="menulogo">
    </a>

    <h1> HSCC Reference Page </h1>
    <!-- Very basic page menu next -->
    <p id="pagemenu"> 
        <a href="#bdpahistory"> BDPA History </a> |
        <a href="#htmltags"> HTML Tags </a> |
        <a href="#numconversion"> Number Conversion Chart </a>
    </p>
    
    <hr>

    <!-- BDPA History section -->
    <div id="bdpahistory">
    <h2> BDPA History </h2>
    <p> This is a section to show history of the group </p>
    <p> <a href="#pagemenu"> Back to top </a> </p>
    </div>

    <hr>

    <!-- HTML tag section -->
    <div id="htmltags">
    <h2> HTML tags </h2>
    <p> This is a section to show HTML tags that we use in class </p>
    <p> <a href="#pagemenu"> Back to top </a> </p>
    </div>

    <hr>

    <!-- Number system conversion -->
    <div id="numconversion">
    <h2> Number system chart </h2>
    <p> This is a chart showing common decimal, binary, and hexadecimal values </p>
    <table>
      <tr>
        <th> Decimal </th>
        <th> Binary </th>
        <th> Hexadecimal </th>
      </tr>
      <tr>
        <td> Base 10 </td>
        <td> Base 2 </td>
        <td> Base 16 </td>
      </tr>

      <tr>
        <td> 0 </td>
        <td> 0 </td>
        <td> 0 </td>
      </tr>

      <tr>
        <td> 1 </td>
        <td> 1 </td>
        <td> 1 </td>
      </tr>

      <tr>
        <td> 2 </td>
        <td> 10 </td>
        <td> 2 </td>
      </tr>

      <tr>
        <td> 3 </td>
        <td> 11 </td>
        <td> 3 </td>
      </tr>

            <tr>
        <td> 4 </td>
        <td> 100 </td>
        <td> 4 </td>
      </tr>

            <tr>
        <td> 5 </td>
        <td> 101 </td>
        <td> 5 </td>
      </tr>

            <tr>
        <td> 6 </td>
        <td> 110 </td>
        <td> 6 </td>
      </tr>

            <tr>
        <td> 7 </td>
        <td> 111 </td>
        <td> 7 </td>
      </tr>

            <tr>
        <td> 8 </td>
        <td> 1000 </td>
        <td> 8 </td>
      </tr>

            <tr>
        <td> 9 </td>
        <td> 1001 </td>
        <td> 9 </td>
      </tr>

            <tr>
        <td> 10 </td>
        <td> 1010 </td>
        <td> a </td>
      </tr>

            <tr>
        <td> 11 </td>
        <td> 1011 </td>
        <td> b </td>
      </tr>

      <tr>
        <td> 12 </td>
        <td> 1100 </td>
        <td> c </td>
      </tr>

      <tr>
        <td> 13 </td>
        <td> 1101 </td>
        <td> d </td>
      </tr>

      <tr>
        <td> 14 </td>
        <td> 1110 </td>
        <td> e </td>
      </tr>

      <tr>
        <td> 15 </td>
        <td> 1111 </td>
        <td> f </td>
      </tr>

      <tr>
        <td> 16 </td>
        <td> 1 0000 </td>
        <td> 10 </td>
      </tr>

      <tr>
        <td> 32 </td>
        <td> 10 0000 </td>
        <td> 20 </td>
      </tr>

      <tr>
        <td> 64 </td>
        <td> 100 0000 </td>
        <td> 40 </td>
      </tr>

      <tr>
        <td> 128 </td>
        <td> 1000 0000 </td>
        <td> 80 </td>
      </tr>

        <tr>
        <td> 255 </td>
        <td> 1111 1111 </td>
        <td> ff </td>
      </tr>

      <tr>
        <td> 256 </td>
        <td> 1 0000 0000 </td>
        <td> 100 </td>
      </tr>

        <tr>
        <td> 63355 </td>
        <td> 1111 1111 1111 1111 </td>
        <td> ffff </td>
      </tr>

      <tr>
        <td> 63356 </td>
        <td> 1 0000 0000 0000 0000</td>
        <td> 10000 </td>
      </tr>
    </table>
    <p> <a href="#pagemenu"> Back to top </a> </p>
    </div>
    
    
  </body>
</html>