<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/x-icon" href="/images/bdpaicon.ico">
  </head>
  <body>
    <!-- Menu Logo created for future styling -->
    <a href="/">
    <img src="/images/bdpalogo26.png" alt="BDPA logo" height="50" width="50" class="menulogo">
    </a>
    <!-- This h1 tag has embedded Javascript passing a title variable -->
    <h1><%= title %></h1>
    <h2>2026 Milwaukee HSCC season</h2>
    <p>Welcome to <%= title %></p>
    <!-- Links section set up for styling -->
    <div class="linkssection">
       <ul>
         <li> <a href="http://www.bdpa.org" target="_blank"> BDPA </a> </li>
         <li> <a href="http://www.bdpamke.org" target="_blank"> BDPA Milwaukee </a> </li>
         <li> <a href="hsccref"> HSCC Reference Page </a> </li>
       </ul> <!-- Bulleted List ends -->
    </div> <!-- linkssection division ends -->
  </body>
</html>
