:root {
  --link-color:#00B7FF;
  --primary-bg-color-dm: black;
  --secondary-bg-color-dm: #002960;
  --primary-text-color-dm: white;
  --accent-color: #ffcc00;

  --primary-bg-color-lm: white;
  --secondary-bg-color-lm: lightgray;
  --primary-text-color-lm: black;
}




body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--primary-bg-color-dm);
  color: var(--primary-text-color-dm);
}

a {
  color: var(--link-color);
}

table {
  border : 2px solid var(--accent-color);
  margin-bottom: 1rem;
}

td,th {
  border: 1px solid var(--accent-color);
  padding: 0rem 0.5rem 0rem 0.5rem;
}

#bdpahistory, #htmltags, #numconversion, #registerform {
  background-color: var(--secondary-bg-color-dm);
  padding: 1.5rem;
  border: 1px var(--accent-color) solid;
  margin: 1.5rem;
}

.linkssection {
  background-color: var(--secondary-bg-color-dm);
  border: 1px var(--accent-color) solid;
  margin: 1.5rem;
}

.linkssection ul {
  margin-top: 1rem;
}

.nav-link {
  color:var(--primary-text-color-dm);
}




